@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$mainColor: #ff4757;
$secondaryColor: #ff6b81;
$white: #f1f2f6;
$tomato: #ff6348;
$coral: #ff7f50;
$orange: #ffa502;
$ufo: #2ed573;
$peace: #a4b0be;
$twinkle: #ced6e0;
$goldenSand: #eccc68;

html,body {
	height: 100%;
	margin: 0;
	font-family: 'Lato';
	background-image: linear-gradient(to right top, $secondaryColor, $mainColor);
}

h1 {
	font-family: 'Roboto'
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 20px;
	
	.todo-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 1000px;
		max-height: 680px;
		background-color: $white;
		border-radius: 5px;

		.title {
			color: $tomato;
		}
		
		.sidebar {
			display: flex;
			flex-direction: column;
			width: 250px;
			height: 100%;
			padding-left: 42px;

			ul {
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					padding: 20px;
					margin: 20px 0;
					background-color: $orange;
					cursor: pointer;
					color: $white;

					&:hover {
						background-color: $coral;
					}

				}

				.active-list {
					background-color: $tomato;
				}
			}
		}
		
		.task-container {
			display: flex;
			flex-direction: column;
			flex: 1;
			flex-grow: 1;
			height: 100%;
			padding: 0 42px;

			.task, .task-actions {
				display: flex;
				align-items: center;
			}

			.task {
				margin: 20px 0;

				&:hover {
					background-color: $twinkle;
				}
			}

			.task-name {
				width: 100%;
				cursor: pointer;
				padding: 20px;
			}
			.task-actions {
				margin-left: auto;

				.task-edit, .task-delete {
					margin: 0 10px;
				}
			}

			.add-task {
				margin-top: auto;
				margin-left: auto;
			}

			.task-title-container {
				display: flex;
				align-items: center;

				.title-button-container {
					margin-left: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 20px;
					visibility: hidden;


					div {
						padding: 10px;
					}
				}
			}

		}

		.add-button {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 50px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 1px solid;
			margin-top: auto;
			margin-bottom: 20px;
			cursor: pointer;
		}
		#add-task{
			display: none;
		}
	
	}

	.add-console {
		.add-item {
			position: absolute; 
			left: 0; 
			right: 0; 
			margin-left: auto; 
			margin-right: auto; 
			width: 300px;
			height: 150px;

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			border: 1px solid;
			visibility: hidden;

			.add-list-action {
				margin-top: 20px;
			}
		}

		.adding-list {
			visibility: visible;
		}
	}

	
}

.taskDone{
	text-decoration: line-through;
}

.taskDoneParent {
	background-color: $ufo;
}

i {
	cursor: pointer;
}
