@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$mainColor: #ff4757;
$secondaryColor: #ff6b81;
$white: #f1f2f6;
$tomato: #ff6348;
$watermelon: #ff4757;
$coral: #ff7f50;
$orange: #ffa502;
$ufo: #2ed573;
$darkUfo: #15bf5c;
$lime: #7bed9f;
$peace: #a4b0be;
$twinkle: #ced6e0;
$goldenSand: #eccc68;

* {
	box-sizing: border-box;
}

html,body {
	height: 100%;
	margin: 0;
	font-family: 'Lato';
	background-image: linear-gradient(to right top, $secondaryColor, $mainColor);
}

h1 {
	font-family: 'Roboto'
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 20px;
	
	.todo-content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 1000px;
		max-height: 680px;
		background-color: $white;
		border-radius: 5px;

		.title {
			color: $tomato;
		}
		
		.sidebar {
			display: flex;
			flex-direction: column;
			flex-basis: 250px;
			height: 100%;
			padding-left: 42px;

			ul {
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					padding: 20px;
					margin: 20px 0;
					background-color: $orange;
					cursor: pointer;
					color: $white;

					&:hover {
						background-color: $coral;
					}

				}

				.active-list {
					background-color: $tomato;
				}
			}
		}
		
		.task-container {
			display: flex;
			flex-direction: column;
			flex: 1;
			flex-grow: 1;
			height: 100%;
			padding: 0 42px;

			.task, .task-actions {
				display: flex;
				align-items: center;
			}

			.task {
				margin: 20px 0;

				&:hover {
					background-color: $ufo;
				}
			}

			.task-done-parent {
				&:hover {
					background-color: $tomato;
				}
			}

			.task-name {
				width: 100%;
				cursor: pointer;
				padding: 20px;
			}
			.task-actions {
				margin-left: auto;

				.task-edit, .task-delete {
					margin: 0 20px;
				}
			}

			.add-task {
				margin-top: auto;
				margin-left: auto;
			}

			.task-title-container {
				display: flex;
				align-items: center;

				.title-button-container {
					margin-left: auto;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 20px;
					visibility: hidden;


					div {
						padding: 10px;
					}
				}
			}

		}

		.add-task-button-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-top: auto;
			margin-bottom: 20px;
			cursor: pointer;
			
			.add-task-button {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-basis: 200px;
				height: 50px;
				background-color: $ufo;
				color: $white;

				&:hover {
					background-color: $darkUfo;
				}
			}
		}

		.add-list-button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 20px;
			margin: 40px 0;
			cursor: pointer;
			color: $white;
			background-color: $ufo;
			
			&:hover {
				background-color: $darkUfo;
			}
		}

		#add-task{
			display: none;
		}
	
	}

	.add-console {
		display: none;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		max-width: 1000px;
		max-height: 680px;
		background-color: $white;
		border-radius: 5px;

		.add-item {
			display: none;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			label {
				font-family: 'Roboto';
				font-size: 45px;
				font-weight: bold;
			}

			input {
				width: 70%;
				height: 50px;
				font-size: 35px;
				border: none;
			}

			.console-action {
				display: flex;
				justify-content: center;
				width: 100%;
				margin-top: 20px;

				.save, .cancel {
					border: none;
					padding: 20px;
					cursor: pointer;
					color: $white;
					background-color: $ufo;
					flex-basis: 200px;
					font-size: 25px;
					
					&:hover {
						background-color: $darkUfo;
					}
				}

				.cancel {
					background-color: $tomato;

					&:hover {
						background-color: $watermelon;
					}
				}
			}
		}

		.adding-list {
			display: flex;
		}
	}

	
}

.task-done{
	text-decoration: line-through;
}

.task-done-parent {
	// background-color: $ufo;
	opacity: 0.3;
}

i {
	cursor: pointer;
}


@media (max-width: 520px){
	body {
		margin: 0;
		padding: 0;
	}
	.todo-container {

		.todo-content {
			flex-direction: column;
			max-height: none;

			.sidebar {
				display: block;
				width: 100%;
				padding: 0 20px;

				ul {
					.list {
						margin: 10px 0;
					}
				}
			}
			
			.task-container {
				width: 100%;
				height: auto;
				padding: 0 20px;

				.add-task-button-container {
					margin-top: unset;
					
				}
			}
			.title {
				margin: 0;
				font-size: 35px;
			}
		}
	}
}
